@media (min-width: 1536px) {
    .container {
        max-width: 1920px !important;
    }
}
img {
    object-fit: cover;
    height: 200px;
}
.main {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    color: slategrey;
}
.footer-layout {
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 60px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}
footer{
    bottom: 0;
}
.nikukyu-font {
  font-family: "Nikukyu";
}
/* .link-zone-parent {
    position: relative;
}
.link-zone-child {
    inset: 0;
    position: absolute;
} */
.formInput {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}
.column {
  height: 80vh;
  /* width: 50%; */
}
.left {
  background: url(/image/22693635.jpg) no-repeat top center;
  margin-top: 7%;
}
.left-login {
  background: url(/image/2382857.jpg) no-repeat top center;
  margin-top: 7%;
}
.left-register {
  background: url(/image/2382864.jpg) no-repeat top center;
  margin-top: 7%;
}
.confirmButton[disabled] {
    background-color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
}
.confirmButton[disabled]:hover {
    background-color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
}
footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 60px;
  /* background-color: #312d2a; */
}
.hidden-file {
    display: none;
}
.background-logo {
    height: 400px;
    width: 100%;
}
