.main {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    color: slategrey;
}
.nikukyu-font {
  font-family: "Nikukyu";
}
.formInput {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}
.column {
  height: 80vh;
  /* width: 50%; */
}
.left {
  background: url(/image/22693635.jpg) no-repeat top center;
  margin-top: 7%;
}
.left-login {
  background: url(/image/2382857.jpg) no-repeat top center;
  margin-top: 7%;
}
.left-register {
  background: url(/image/2382864.jpg) no-repeat top center;
  margin-top: 7%;
}
.confirmButton[disabled] {
    background-color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
}
.confirmButton[disabled]:hover {
    background-color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
}
footer {
  position: absolute;
  bottom: 0;

  width: 95%;
  height: 60px;
  /* background-color: #312d2a; */
}
